body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #393e46;
}

.App {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.App header h1 {
  font-size: 3em;
  color: white;
}
